.web-tool-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.25em 1em;
    place-content: start;
}

.web-tool-form fieldset {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: inherit;
    gap: inherit;
    place-content: inherit;
}

.web-tool-form .wide-input {
    grid-column: 1 / span 2;
}
